{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta name="msapplication-tap-highlight" content="no">
  <title>Thanida J.</title> 
  <link href="{% static '/images/code.png' %}" rel="icon"> 
  <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">

</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
            <li><a href="{% url 'Resume:home' %}" title="">01 : Home</a></li>
            <li><a href="{% url 'Resume:aboutme' %}" title="">02 : About me</a></li>
            <li><a href="{% url 'Resume:experiences' %}" title="">03 : Experiences & Awards</a></li>
            <li><a href="{% url 'Resume:projects' %}" title="">04 : Projects</a></li>
            <li><a href="{% url 'Resume:contact' %}" title="">05 : Contact</a></li>
        </ul>

      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">

                  <p>My name is Thanida Jongarnon but most people call me <b>Bamee</b>.
                    Fascinated by the art of programming and development, it brought me into this challenging field.
                    I'm good at self-motivated, teamwork, adaptability and always eager to learn more tricks and gain new experiences.
                    I'm looking for a company which I can acquire more knowledge and opportunity.
                    </p>
                    
                  <h3>Education</h3>
                  <p> Undergraduate <br>
                      Third year at Software and Knowledge Engineering, <br>
                      Kasetsart University <br>
                      GPA 3.25
                      <hr>
                    <p> Hight School <br>
                        English Program (SCI-MATH), Yothinburana School <br>
                        GPA 3.81
                  </p>

                  <h3>Skill</h3>
                  <p>
                      Python <br>
                      JavaScript <br>
                      TypeScript <br>
                      HTML & CSS <br>
                      Node.js <br>
                      MySQL & MongoDB <br>
                      Django <br>
                      Robot Framework <br>
                      Git <br>

                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="{% static '/images/profile2.jpg' %}" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© SKE | Thanida Jongarnon</p>
      </div>
    </div>
  </div>
</footer> 

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 <script type="text/javascript" src="{% static '/js/home.js' %}"></script></body>

</html>