{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Thanida J.</title> 
    <link href="{% static '/images/code.png' %}" rel="icon"> 
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
      
</head>
<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
            <li><a href="{% url 'Resume:home' %}" title="">01 : Home</a></li>
            <li><a href="{% url 'Resume:aboutme' %}" title="">02 : About me</a></li>
            <li><a href="{% url 'Resume:experiences' %}" title="">03 : Experiences & Awards</a></li>
            <li><a href="{% url 'Resume:projects' %}" title="">04 : Projects</a></li>
            <li><a href="{% url 'Resume:activities' %}" title="">05 : Extracurricular Activities</a></li>
            <li><a href="{% url 'Resume:contact' %}" title="">06 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h1 class="h2">05 : Extracurricular Activities</h1>
        </div>
      </div>
      <div class="col-md-12">
     
      <div id="myCarousel" class="carousel slide projects-carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static '/images/ontour.jpg' %}" alt="" class="img-responsive img-size">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>On-Tour Camp #28</h3>
                        <p class="text-size">Volunteer teaching for Matthayom 6 student at Saiyokmaneekanwithaya School, Kanchanaburi</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static '/images/cpsk.jpg' %}" alt="" class="img-responsiv img-size">
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>CPSK Freshy Day</h3>
                        <p class="text-size">Coordinating staff</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <img src="{% static '/images/spk.jpg' %}" alt="" class="img-responsive img-size">
                    </a>
                    <div class="card-container">
                      <h4>003/006</h4>
                      <h3>SOS Camp #9</h3>
                      <p class="text-size">Guest speaker for freshmen about university life and study, internship experiences, etc.</p>
   
                    </div>
                      
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            <!--/item-->
            <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                  
                    <img src="{% static '/images/byenior.jpg' %}" alt="" class="img-responsive img-size">
                  </a>
                  <div class="card-container card-container-lg">
                    <h4>004/006</h4>
                    <h3>Byenior Night SKE14</h3>
                    <p class="text-size">Committee Team for organize this event
                    </p>
                  </div>
                  </div>
                   <div class="col-sm-4">
                    <img src="{% static '/images/es.jpg' %}" alt="" class="img-responsive img-size">
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Engineering Services Camp #31</h3>
                        <p class="text-size">Staff and TA on this camp</p>
                    
                      </div>
                    </div>
                    
                    <div class="col-sm-4">
    
                        <img src="{% static '/images/sos.jpg' %}" alt="" class="img-responsive img-size">
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>SOS Camp #8</h3>
                        <p class="text-size">  Head of SKE16, <br>
                          Committee Team for organize this event
                    
                        </p>
                 
                      </div>
                    </div>
                    
                </div>
                <!--/row-->
            </div>
            
            <!--/item-->
        </div>
        <!--/carousel-inner--> 
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
     </div>
    <!--/myCarousel-->
    </div>
    </div>
  </div>
</div>
<footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© SKE | Thanida Jongarnon</p>
        </div>
      </div>
    </div>
  </footer> 
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="{% static '/js/home.js' %}"></script></body>
</html>